.main__about {
  .about__us__about {
    padding-top: 20rem;
    a, span {
      font-size: 1.6rem;
      padding-right: 2rem;
      color: #fff;
    }
    .active__color {
      color: #fdce00;
    }
    .about__bg {
      position: relative;
      width: 100%;
      height: 34rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin-top: 3rem;
        filter: grayscale(100%);
        opacity: 0.8;
      }
      .about__text__about {
        position: absolute;
        font-size: 12rem;
        font-weight: 500;
        bottom: -12rem;
        left: 10rem;
        font-family: "bebas";

      }
    }
  }
  .boxes__about {
    .box__about__right,
    .box__about__left {
      display: flex;
      gap: 10rem;
      align-items: center;
      padding-top: 16rem;

      .box__text__about {
        width: calc(40% - 10rem);
        p {
          font-size: 1.6rem;
          padding-bottom: 2rem;
        }
      }
      .box__img__about {
        width: calc(50% - 10rem);
        height: 46rem;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
    .box__about__left {
      justify-content: left;
      flex-wrap: wrap-reverse;
    }
    .box__about__right {
      justify-content: right;
      flex-wrap: wrap;
    }
  }
}

@media screen and (max-width: 768px) {
  .main__about {
    .about__us__about{
      .about__bg{
        .about__text__about{
          font-size: 10rem;
          bottom: -10rem;
          left: 7rem;
        }
      }
    }
    .boxes__about {
      .box__about__left,
      .box__about__right {
        .box__text__about {
          width: 100%;
          padding: 0 3rem;
          p {
            font-size: 3rem;
          }
        }
        .box__img__about {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
