.main__product {
  padding-top: 20rem;
  .product__location {
    font-size: 1.6rem;

    a {
      color: #fff;
    }
    span {
      color: #fff;
    }
    .active {
      color: #fdce00;
    }
  }
  .product__boxes__product {
    padding-top: 6rem;
    .product__box__product {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10rem;
      .text__box__product {
        width: calc(50% - 10rem);
        h3 {
          font-family: "bebas";
          font-size: 4.5rem;
          color: #fdce00;
        }
        span {
          font-size: 2.4rem;
          display: inline-block;
          padding-top: 3rem;
        }
        p {
          font-size: 1.6rem;
          padding-top: 4rem;
        }
      }
      .img__box__product {
        width: calc(50% - 10rem);
        height: 400px;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .main__product {
    .product__location {
      a {
        font-size: 4rem;
      }
      span {
        font-size: 4rem;
      }
    }
    .product__boxes__product {
      .product__box__product {
        .text__box__product {
          h3 {
            font-size: 5rem;
          }
          span {
            font-size: 4rem;
          }
          p {
            font-size: 3rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .main__product {
    .product__location {
      a {
        font-size: 4rem;
      }
      span {
        font-size: 4rem;
      }
    }
    .product__boxes__product {
      .product__box__product {
        .text__box__product {
          width: 100%;
          h3 {
            font-size: 7rem;
          }
          span {
            font-size: 5rem;
          }
          p {
            font-size: 5rem;
          }
        }
        .img__box__product {
          width: 100%;
        }
      }
    }
  }
}
